
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#container {
    align-self: center;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square {
    width: 30px;
    height: 30px;
    outline: 1px solid black;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

button {
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
}